html {
  font-family: sans-serif;
}
.box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  border-radius: 8px;
  border: 1px solid rgb(128, 2, 2);
  background-color: red;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1),
  inset 0 0 10px rgba(255, 255, 255, 0.5),
  inset 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px #000000
}

 